.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.top-bar-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-right: 10px;
}
